/* ==========================================================================
   DEFAULT THEME
   ========================================================================== */

/* Color codes used for the theme */
$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);
$lighter-gray               : mix(#fff, $gray, 90%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    color-scheme: light;
    --global-base-color                 : #{$gray};
    --global-bg-color                   : #fff;
    --global-border-color               : #{$lighter-gray};
    --global-code-background-color      : #fafafa;
    --global-code-text-color            : #{$darker-gray};
    --global-fig-caption-color          : mix(#fff,  #{$dark-gray}, 25%);
    --global-link-color                 : #2f7f93;
    --global-link-color-hover           : mix(#000, #2f7f93, 25%);
    --global-link-color-visited         : mix(#fff, #2f7f93, 25%);  
    --global-inline-link-color          : #5f6870;
    --global-inline-link-color-hover    : #343a40;
    --global-inline-link-color-visited  : #6f7780;
    --global-masthead-link-color        : #{$dark-gray};
    --global-masthead-link-color-hover  : mix(#000, #{$gray}, 25%);    
    --global-text-color                 : #{$dark-gray};
    --global-text-color-light           : #{$light-gray};
    --global-thead-color                : #{$lighter-gray};
}

html[data-theme="dark"] {
    color-scheme: dark;
    --global-base-color                 : #474747;
    --global-bg-color                   : #474747;
    --global-border-color               : #{mix(#fff, #474747, 80%)};
    --global-code-background-color      : #fafafa;
    --global-code-text-color            : #{$darker-gray};
    --global-fig-caption-color          : #{$dark-gray};
    --global-link-color                 : #0ea1c5;
    --global-link-color-hover           : #{mix(#000, #0ea1c5, 25%)};
    --global-link-color-visited         : #{mix(#fff, #0ea1c5, 25%)};
    --global-inline-link-color          : #d6d9dc;
    --global-inline-link-color-hover    : #ffffff;
    --global-inline-link-color-visited  : #c4c8cc;
    --global-masthead-link-color        : #fff;
    --global-masthead-link-color-hover  : #{mix(#fff, #474747, 80%)};
    --global-text-color                 : #fff;
    --global-text-color-light           : #{$light-gray};
    --global-thead-color                : #{mix(#fff, #474747, 90%)};
}
